.wrapper {
	max-width: 220px;
	min-width: 220px;
	height: 100vh;
	background-color: #E4E1E4;
	padding: 1%;
	box-shadow: 2px 0 4px rgba(0,0,0,.2);
}
.sidebar {
	display: none;
}
.sideBarToggleOff {
	display: none;
}
.logout {
	background-color: #f082b5;
}
.sideText {
	color : black;
}
